@font-face {
  font-family: retro;
  src: url("fonts/PressStart2P.ttf");
}

@font-face {
  font-family: pokemon;
  src: url("fonts/Ketchum.otf");
}

@font-face {
  font-family: tableau;
  src: url("fonts/upheavtt.ttf");
}

a {
  color : black;
  text-decoration: none;
  font-family: tableau;
}

a:hover {
  color : black;
  text-decoration: none;
  color: #0f380f;
}

body {
  font-family: retro;
  background-image: linear-gradient(to right, #0f380f, #9bbc0f);
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #0f380f;
  -webkit-text-stroke: 2px white;
  text-align: center;
  font-family: pokemon;
  font-size: 6vw;
}

.liste {
  font-size: 1.75vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

table {
  height: 5vw;
  width: 75%;
  border: solid 2px black;
  border-radius: 8px;
  margin: auto;
  background-color: #9bbc0f;
}

td, tr {
  font-family: pixel;
  text-align: center;
  border: solid 1px;
  background-color: #8bac0f;
}

#deco{
    display: inline-block;
    font-size: 1vw;
    font-family: retro;
    background-color: #9bbc0f;
    color: #0f380f;
    position:absolute;
     top:1vw;
     right:1vw;
  }
  
#deco:hover {
    background-color: #306230;
}

#idinsc {
  float: left;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border: solid 2px black;
  border-radius: 8px;
  text-align: justify;
  margin-left: 10%;
  margin-top: 2vw;
  background-color: #9bbc0f;
  color: #0f380f;
}

#idco {
  float: right;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border: solid 2px black;
  border-radius: 8px;
  text-align: justify;
  margin-right: 10%;
  margin-top: 2vw;
  background-color: #9bbc0f;
  color: #0f380f;
}

.text {
  width: 90%;
  font-size: 1vw;
  border: solid 2px black;
  border-radius: 6px;
  font-family: retro;
  background-color: #9bbc0f;
  color: #0f380f;
}

.label {
  font-size: 1vw;
  margin: 0.5vw;
}

#texte {
  margin: 0.5vw;
  font-size: 1vw;
  border: solid 2px black;
  border-radius: 6px;
  font-family: retro;
  background-color: #9bbc0f;
  color: #0f380f;
}

#button {
  font-size: 1vw;
  margin: 0.5vw;
  font-family: retro;
  background-color: #9bbc0f;
  color: #0f380f;
}

#button:hover {
  background-color: #306230;
}
#l_pokedex td, tr {
  font-size: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-family: retro;
  border: solid 2px black;
  border-radius: 8px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2em;
  background-color: #9bbc0f;
  color: #0f380f;
}